body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
}

h1 {
  font-size: 5rem;
  font-family: 'Josefin Sans', sans-serif;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

p {
font-weight: bold;
line-height: 2
}
h3{
  font-family: 'Montserrat', sans-serif;
color: #11999E;
font-weight: bold;
}
.top-container {
  background-color: #e4fbff;

  padding: 100px;
  position: relative;
}

.skill-row {
width: 50%;
margin: 50px auto 50px auto;
text-align: left;
}

.intro {
margin: auto;
  width: 30%;
}

.contact-message {
  width: 	40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
.middle-container {
  margin: 50px 0px;
}

.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px;

}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11899A;
  font-family: 'Montserrat', sans-serif;
margin: 	10px 20px;
text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
.top-cloud {
  position: absolute;
  right: 500px;
  top: 75px;
}

.bottom-cloud {
  position: absolute; /* yanyana vs koymak için */
  left: 500px;
  bottom: 75px;
}
.code{
  height: 100px;
  text-align: center;
  float: left;
  margin-right: 30px
}

.swim{
  height: 100px;
  text-align: center;
  float: right;
  margin-left: 30px
}

.swimtext {
  text-align: right;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cd;
  background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
  text-decoration: none;
}
